.Gif {
    border: 1px solid #eee;
    border-radius: 6 px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 70%;
    padding: 32px;
    color: #eee;
    text-decoration: none;
    position: center;

}
.Gif h4 {
    margin: 0;
}
.Gif img {
    object-fit: contain;
}

h1{
    font-size: 60px;
}

a  {
    font-size: 40px;
    color: rgb(209, 255, 4);
}